html,body{
    margin:0;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    background-color: #D6C0E8;
    height: 108px;
    align-items: center;
    justify-content: space-between;
    padding-left: 97px;
    padding-right: 42px;
}
.nav-buttons{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.nav-buttons a {
    padding-right: 80px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.button{
    display: flex;
    width: 140px;
    height: 42px;
    align-items: center;
    justify-content: center;
    background-color: #9334BF;
    color:#fff;
    border-color: #9334BF;
    border-radius: 10px;
    font-size: 18px;
}
.container{
    display: flex;
    justify-content: space-between;

}
.title {
   display: flex;
   flex-direction: column;
   padding-top: 80px;
} 
.title h1{
    font-size: 42px;
    margin-left: 97px;
}

.title h3 {
    font-size: 26px;
    margin-left: 97px;
}
.title span {
    font-size: 20px;
    margin-left: 97px;
}
.img {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
    margin-top: 180px;
 }